<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-03-08-(熔炼)-图形上下文栈.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B397D371C8E96B90068C0C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B397D531C8E96B90068C0C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B397D5E1C8E96B90068C0C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
