<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-02-28-(淬火)-用户偏好设置.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B7F29201C833BD80088ECFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7F293C1C833BD80088ECFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B7F29471C833BD90088ECFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
