<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-02-21-淬火-私人通讯录.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BB6C1431C796CCE001695D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB6C15F1C796CCE001695D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB6C16A1C796CCE001695D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
