<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-03_07-(熔炼)-TabBar控制器(Storyboard).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B1813B61C8D6818003A5F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B1813D21C8D6818003A5F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B1813DD1C8D6818003A5F43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
