<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>16-02-28-(淬火)-plist文件存储demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BB0B6701C829EEC00D3D117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB0B68C1C829EEC00D3D117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BB0B6971C829EEC00D3D117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
